<web-app>
     <servlet>
   <servlet-name>first</servlet-name>
   <servlet-class>com.organization.ManagerRegister</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>first</servlet-name>
    <url-pattern>/register</url-pattern>
   </servlet-mapping>
       <servlet>
   <servlet-name>second</servlet-name>
   <servlet-class>com.organization.ManagerLogin</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>second</servlet-name>
    <url-pattern>/login</url-pattern>
   </servlet-mapping>
    <servlet>
   <servlet-name>third</servlet-name>
   <servlet-class>com.organization.EmployeeRegister</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>third</servlet-name>
    <url-pattern>/employeeregister</url-pattern>
   </servlet-mapping>
    <servlet>
   <servlet-name>forth</servlet-name>
   <servlet-class>com.organization.EmployeeLogin</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>forth</servlet-name>
    <url-pattern>/employeelogin</url-pattern>
   </servlet-mapping>
</web-app>